/* Dialog Title Container */
.dialog-title-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 10px;
    color: #FF3A29;
    font-weight: 700;
}

/* Dialog Icon */
.dialog-icon {
    font-size: 32px;
    color: #FF3A29;
    /* Warning Red */
}

/* Dialog Message */
.dialog-message {
    font-size: 16px;
    color: #333333 !important;
    margin: 0;
}

/* Dialog Cancel Button */
.dialog-cancel-btn {
    border: 1px solid #cccccc !important;
    color: #333333 !important;
}

.dialog-cancel-btn:hover {
    background-color: #f5f5f5;
}

/* Dialog Confirm Button */
.dialog-confirm-btn {
    background-color: #FF3A29 !important;
    color: #ffffff;
}

.dialog-confirm-btn:hover {
    background-color: #b71c1c !important;
}

/* Custom Dialog */
.custom-dialog .MuiDialog-paper {
    border-radius: 8px;
    padding: 14px;
    box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.1);
}